.datatable .col {
  cursor: pointer;
}

.datatable .col .pointer:after {
  font-size: 60%;
  content: "";
  margin-right: 18px;
}

.datatable .col .pointer:hover:after {
  font-size: 60%;
  content: "🔻";
  margin-right: 0;
}
